$one-color = #85004B
$two-color = #992667
$3-color = #E667AF

one-mixin()
    background #CCE9F4
    border-radius 10px
    margin-left 500px
    margin-right 500px
    padding 10px

 two-mixin()
    margin 0

:root
    font-family 'Courier New'
    font-size 16px
    font-weight 700
    line-height 1.3125
    color $one-color
    box-sizing border-box


body
    two-mixin()
    background-image linear-gradient(to bottom right, $3-color,$two-color)
    
header
    background-color $two-color
    two-mixin()
    padding 5px
    display flex
    justify-content center
    .Nav-name
      font-family 'Verdana'

ul
    list-style none

.name-site,h2
    padding-left 30px

figure
    one-mixin()

img
    display block
    border-radius 30px
    margin auto
    max-width 100%
    height auto


figcaption
    text-align center
    padding-top 5px

.Pryklad-1
    padding-left 30px

.Pryklad-2
    padding-left 50px

.Pryklad-3
    padding-left 100px

a:hover
    color #c099af

a
    color #460c2d
    text-decoration none


.Zakinchennya
    font-size 12px
    font-weight bold

table 
    width 100%
    border-collapse collapse

th, td 
    padding 8px
    text-align left
    border-bottom 1px solid #ddd

th 
    background-color $3-color

td
    background #dd8fbb

.new-p
    margin-left 50px

.new-a
    margin-left 100px
